.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 8rem;
  width: 100%;
  background-image: url("/public/images/sura_border_sym4.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.surah-name {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  padding: 0 20px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /* Optional for better text visibility */
}

@media (max-width: 768px) {
  .header-container {
    height: 4rem;
  }
  .surah-name {
    font-size: 1.5rem;
  }
}
