.modal-dialog {
  max-width: 80% !important; /* Set the width to 80% of the viewport width */
  max-height: 80% !important;
  scroll-behavior: auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-modal .modal-content {
  font-size: 1.5rem; /* Adjust as needed for text size */
}

.tafseer-text {
  font-size: 2rem; /* Adjust as needed for text size */
  line-height: 1.6;
  min-height: 25rem; /* Set a maximum height for the Tafseer text */
  max-height: 25rem; /* Set a maximum height for the Tafseer text */
  overflow-y: auto; /* Enable vertical scrolling */
  width: 100%; /* Ensure it takes the full width available */
}

.quran-verse-modal {
  font-family: QuranHafs;
  margin-left: 10px;
  max-height: 12rem; /* Set a maximum height for the Tafseer text */
  overflow-y: auto; /* Enable vertical scrolling */
  font-size: 2rem;
  line-height: 4rem;
}

.form-control {
  font-size: 1.5rem; /* Adjust as needed for text size */

  text-align: center;
  width: 100%; /* Make the dropdown fill the entire width of its container */
}
