.modal-dialog {
  max-width: 80% !important;
  max-height: 80% !important;
  scroll-behavior: auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-modal .modal-content {
  font-size: 1.5rem;
}

.tafseer-text {
  font-size: 2rem;
  line-height: 1.6;
  min-height: 25rem;
  max-height: 25rem;
  overflow-y: auto;
  width: 100%;
}

.quran-verse-modal {
  font-family: QuranHafs;
  margin-left: 10px;
  max-height: 12rem;
  overflow-y: auto;
  font-size: 2rem;
  line-height: 4rem;
}

.form-control {
  font-size: 1.5rem;

  text-align: center;
  width: 100%;
}
