.question-selector {
  border-style: solid;
  border-radius: 25%;
  padding: 5rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkbox-container {
  margin-bottom: 10px;
}

.checkbox-container label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  color: #333;
}

.checkbox-container label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-container label:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container label input:checked ~ .checkmark {
  background-color: #2196f3;
  border-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-container label input:disabled ~ .checkmark {
  background-color: darkgray;
  border: 1px solid #ddd;
  cursor: not-allowed;
}

.checkbox-container label input:disabled ~ .checkmark:after {
  border-color: #ddd;
}
