.quran-container {
  display: flex;
  flex-direction: row;
}
.quran-page {
  background-color: white;
  border-style: solid;
  border-color: black;
  width: 50rem;
  max-height: 53rem;
  min-height: 53rem;
  font-family: QuranHafs;
}

.quran-verse {
  margin-left: 10px;
  font-size: 1.8rem;
  line-height: 4rem;
}

.surah-navigator {
  height: 53rem;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.surah-search-box {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.surah-list {
  list-style: none;
  padding: 0;
}

.surah-list-item {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.surah-list-item-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.surah-list-item-text-en,
.surah-list-item-text-arabic {
  font-size: 16px;
}

.surah-list-item-count {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #777;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button {
  font-size: 1rem;
  background-color: whitesmoke;
  color: black;
  border: solid black;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: rgb(212, 212, 212);
}

.pagination-input {
  width: 50px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 10px;
}

.pagination-total-pages {
  margin-left: 10px;
  font-size: 16px;
}

.surah-btn {
  background-color: gray;
  border-radius: 20px;
  margin-bottom: 0.2rem;
}

@media (max-width: 768px) {
  .quran-container {
    width: 100vw !important;
    flex-direction: column-reverse !important;
  }

  .quran-page {
    width: auto !important;
    max-height: 45rem;
    min-height: 45rem;
  }

  .quran-verse {
    font-size: 1.5rem;
    line-height: 4rem;
  }

  .page-info {
    display: inline;
    margin-left: 2rem;
  }

  .pagination {
    font-size: 1rem;
  }
  .pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
  }
}

@media (max-width: 425px) {
  .quran-container {
    width: 100vw !important;
    flex-direction: column-reverse !important;
  }

  .quran-page {
    width: auto !important;
    height: max-content;
    max-height: max-content;
  }

  .quran-verse {
    font-size: 1.25rem;
    line-height: 3rem;
  }

  .page-info {
    font-size: 0.88rem;
    display: inline;
    margin-left: 2rem;
  }

  .pagination {
    font-size: 1rem;
  }
  .pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
  }
}

@media (max-width: 1024px) {
  .page-info {
    font-size: 1.05rem;
    margin-bottom: 2rem;
  }
  .surah-navigator {
    width: 200%;
  }
}
