.quran-verse:hover {
  background-color: rgb(253, 253, 172);
  text-decoration: underline;
  cursor: pointer;
}

.verse-container {
  position: relative;
}

.verse-popup {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  background-color: #2b2b2b; /* Adjusted background color */
  border: 1px solid #444; /* Adjusted border color */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 10;
  display: flex;
  gap: 15px; /* Adjusted gap */
  border-radius: 5px;
}

.verse-popup-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff; /* Adjusted icon color */
  font-size: 1.2em; /* Adjusted icon size */
}

.verse-popup-button::after {
  content: attr(title);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.verse-popup-button:hover::after {
  opacity: 1;
  visibility: visible;
}

.verse-popup-button:hover {
  color: #007bff;
}

.quran-verse.active-verse {
  background-color: rgb(
    250,
    250,
    67
  ); /* Background color for the active verse */
}

.quran-verse.active-verse:hover {
  background-color: rgb(
    250,
    250,
    67
  ); /* Background color for the active verse */
}
