@font-face {
  font-family: "ReemKufi";
  src: url("./assets/fonts/ReemKufi-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuranHafs";
  src: url("./assets/fonts/uthmanic_hafs_v20.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.background-image-class {
  background-image: url("../public/images/main-background.jpg");
}

.background-blank {
  background-color: #e8e0d5;
}

body {
  font-family: ReemKufi;
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed during scroll */
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mybtn {
  color: black;
  background-color: whitesmoke;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid black;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.mybtn:disabled {
  background-color: lightgray;
  color: gray;
  border-color: gray;
  cursor: not-allowed;
}

.mybtn:not(:disabled):hover {
  transform: scale(1.1);
}

.correct-answer {
  color: green !important; /* Change text color to green for correct answers */
  font-weight: bold; /* Make text bold for correct answers */
}

.wrong-answer {
  color: red !important; /* Change text color to red for wrong answers */
  text-decoration: line-through; /* Add strike-through for wrong answers */
}

.feedback {
  margin-top: 10px; /* Add space between verses and feedback */
}
.verse-info {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.verse-info h4 {
  margin-bottom: 10px;
}

.verse-info-table {
  width: 100%;
  border-collapse: collapse;
}

.verse-info-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.verse-info-table td strong {
  font-weight: bold;
}

.custom-settings {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  place-content: normal !important;
}
